@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Food fooditem = (Food) ViewData["singleitem"];
    <p>
        Name : @fooditem.Name 
        Id : @fooditem.Id
        Description : @fooditem.Description
        Quantity : @fooditem.Quantity
        Price : @fooditem.Price
    </p>
}

